<div class="row main-row">
  <div class="search col-md-8 col-md-offset-2 center">
    <h1>What are you good at?</h1>
    <br>
    <div id="skills-search center">
      <%=  simple_form_for search_path, method: :get do |f| %>
      <div class="row">
        <%= f.collection_check_boxes "query", LANGUAGES, "to_s","to_s",  {:item_wrapper_class => 'btn btn-large btn-default btn-lg button-checkbox'} %>
      </div>
      <hr/>
      <div class = "row">
        <div class = "center">
          <%= f.collection_check_boxes "query", FRAMEWORKS, "to_s","to_s",{:item_wrapper_class => ' btn btn-large btn-default btn-lg button-checkbox'} %>
        </div>
      </div>
      <hr/>
      <div class = "row">
        <%= f.submit "Search", :class => "btn btn-large btn-default btn-lg search-button"  %>
      </div>
      <% end %>
    </div>
    <hr/>
     <small><em> There are currently <%= offers_count%> job offers amoung <%= companies_count%> Companies. </em></small>
  </div>
  <div class="results col-md-12" >
    <div class="row search-result main-row">
      <%= render 'companies/index', :options => {:companies => @companies}  %>
    </div>
  </div>
</div>
</div>

