<div class="row search">
  <div class="search col-md-8 col-md-offset-2 center">
    <h1>What are you good at?</h1>
    <br>
    <div id="skills-search center">
      <%=  simple_form_for search_path, method: :get do |f| %>
      <div class="row">
        <%= f.collection_check_boxes "query", LANGUAGES, "to_s","to_s",  {:item_wrapper_class => 'btn btn-large btn-default btn-lg button-checkbox'} %>
      </div>
      <hr/>
      <div class = "row">
        <div class = "center">
          <%= f.collection_check_boxes "query", FRAMEWORKS, "to_s","to_s",{:item_wrapper_class => ' btn btn-large btn-default btn-lg button-checkbox'} %>
        </div>
      </div>
      <hr/>
      <div class = "row">
        <%= f.submit "Search", :class => "btn btn-large btn-default btn-lg search-button"  %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="results col-md-12" >
    <% @companies.each do |company| %>
    <div class="row search-result">
      <div class="col-md-3 center">
        <img class="search-result-image" src="<%=company.logo_url%>" alt="Logo" >
      </div>
      <div class="col-md-5 center ">
        <h3>
        <%= link_to company.name, company.website_url %>
        </h3>
      </div>
      <div class="col-md-4 center">
        <p>  <%=company.short_pitch%> </p>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>
