<%- model_class = Offer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @offer.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:company_id) %>:</strong></dt>
  <dd><%= @offer.company_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country_code) %>:</strong></dt>
  <dd><%= @offer.country_code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country_name) %>:</strong></dt>
  <dd><%= @offer.country_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:currency_code) %>:</strong></dt>
  <dd><%= @offer.currency_code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:expires_at) %>:</strong></dt>
  <dd><%= @offer.expires_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nice_to_have) %>:</strong></dt>
  <dd><%= @offer.nice_to_have %></dd>
  <dt><strong><%= model_class.human_attribute_name(:perks) %>:</strong></dt>
  <dd><%= @offer.perks %></dd>
  <dt><strong><%= model_class.human_attribute_name(:published_at) %>:</strong></dt>
  <dd><%= @offer.published_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reward) %>:</strong></dt>
  <dd><%= @offer.reward %></dd>
  <dt><strong><%= model_class.human_attribute_name(:remote) %>:</strong></dt>
  <dd><%= @offer.remote %></dd>
  <dt><strong><%= model_class.human_attribute_name(:relocation_paid) %>:</strong></dt>
  <dd><%= @offer.relocation_paid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:role_description) %>:</strong></dt>
  <dd><%= @offer.role_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:salary_low) %>:</strong></dt>
  <dd><%= @offer.salary_low %></dd>
  <dt><strong><%= model_class.human_attribute_name(:salary_high) %>:</strong></dt>
  <dd><%= @offer.salary_high %></dd>
  <dt><strong><%= model_class.human_attribute_name(:successful?) %>:</strong></dt>
  <dd><%= @offer.successful? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @offer.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:work_from_home) %>:</strong></dt>
  <dd><%= @offer.work_from_home %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type) %>:</strong></dt>
  <dd><%= @offer.type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tags) %>:</strong></dt>
  <dd><%= @offer.tags %></dd>
</dl>
<%= link_to t('.back', :default => t("helpers.links.back")),
offers_path, :class => 'btn btn-default'  %>
