<div class ="row">
  <header id="header" class="">
    <nav class="navbar navbar-fixed-top " style="background-color:white;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <ul class="nav navbar-nav ">
            <li> <a href="<%= root_path%>"><h3>Findr.co</h3></a></li>
          </ul>

        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="<%=companies_path  %>"><h3>Companies</h3></a></li>
            <li><a href="<%=search_path%>"><h3>Search</h3></a></li>
            <li><a href="http://jpserra.github.io"><h3>Contact</h3></a></li>
            <li>
              <!--
              <%= form_for search_path, method: :get, class: "form-inline" do |f|%>
              <div class="form-group" width="100px">
                <div width="50%">
                  <%= text_field_tag :q, params[:q], class: "form-control" %>
                </div>
                <div width= "50%">
                  <%= submit_tag "Go", name: nil , class: "btn btn-large btn-default btn-lg blank-button " %>
                </div>
              </div>
              -->
            <% end %></li>
          </ul>
          </div><!--/.nav-collapse -->
        </div>
        <hr style="margin:0px;">
      </nav>
      </header><!-- /header -->
    </div>
